@import 'src/theme.scss';

.worldWindow {
	height: 100%;
	min-height: 300px;
	max-height: 850px;
	padding: 8px 0;
	overflow: hidden;
}

.commonWindow {
	padding: 8px;
	height: 100%;
}

.window {
	padding: 8px;
	height: 100%;
}