@import 'themeV2.scss';

.verticalMargin1 {
  margin-bottom: 4px;
}

.verticalMargin2 {
  margin-bottom: 8px;
}

.verticalMargin3 {
  margin-bottom: 16px;
}

.verticalMargin4 {
  margin-bottom: 24px;
}

.verticalMargin5 {
  margin-bottom: 32px;
}

.verticalMargin6 {
  margin-bottom: 40px;
}

.horizontalMargin1 {
  margin-right: 4px;
}

.horizontalMargin2 {
  margin-right: 8px;
}

.horizontalMargin3 {
  margin-right: 16px;
}

.horizontalMargin4 {
  margin-right: 24px;
}

.horizontalMargin5 {
  margin-right: 32px;
}

.horizontalMargin6 {
  margin-right: 40px;
}

.horizontalMargin1 {
  margin-right: 4px;
}

.horizontalMargin2 {
  margin-right: 8px;
}

.horizontalMargin3 {
  margin-right: 16px;
}

.horizontalMargin4 {
  margin-right: 24px;
}

.horizontalMargin5 {
  margin-right: 32px;
}

.horizontalMargin6 {
  margin-right: 40px;
}
